/* .custom-shape-divider-bottom-1680950311 {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1680950311 svg {
  position: relative;
  display: block;
  height: 402px;
}

.custom-shape-divider-bottom-1680950311 .shape-fill {
  fill: var(--nav-text-color);
} */

._main_content {
  width: 80vw;
  margin: auto;
  position: sticky;
  z-index: 10;

  /* background-color: rgb(161, 187, 187); */
}
.first_content {
  display: flex;
  padding-top: 6rem;
  width: 70vw;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}
.text_first_content {
  flex: 2.5;
}

.text_first_content p:nth-child(1) {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1%;
}

.text_first_content p:nth-child(2) {
  font-size: 19px;
}
.text_first_content p span {
  color: var(--nav-text-color);
}
.text_first_content button {
  margin-top: 4%;
  padding: 15px;
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--nav-text-color);
  border: 1px solid var(--nav-text-color);
  border-radius: 5px;
  cursor: pointer;
}
.image_first_content {
  flex: 2;
}
.image_first_content img {
  width: 500px;
  height: 600px;
  border-radius: 10px;
}
/* Second Section - Skill Section */
._skills_header {
  text-align: center;
  font-size: 2em;
  margin-top: 6rem;
}
._skill_section {
  margin-top: 1rem;
  margin-bottom: 10rem;
  display: flex;
  width: 70vw;
  margin: auto;
  justify-content: space-between;
}

.technology_knowledge {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}
.skills_section {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Third section - Project Section */
.projects_card {
  width: 70vw;
  margin: auto;
}
._projects_card {
  padding-top: 3rem;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.item_card_projects {
  width: 400px;
  /* border: 1px solid white; */
  border-radius: 10px;
}
.item_card_projects img {
  width: 100%;
  border-radius: 10px;
}
.projects_heading {
  padding: 5px;
}
.projects_heading p:first-child {
  font-weight: 500;
  margin-top: 2%;
  margin-bottom: 1%;
}
.projects_heading p:last-child {
  margin-bottom: 1%;
}
.item_card_projects button {
  padding: 15px;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 5px;
  margin-top: 3%;
  margin-bottom: 3%;
  cursor: pointer;
  background-color: transparent;
  color: var(--nav-text-color);
  border: 1px solid var(--nav-text-color);
}

/* About Me Section */
.about_me {
  width: 75vw;
  margin: auto;
  padding-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.image_first_content_about {
  width: 350px;
}
.image_first_content_about img {
  height: auto;
  width: 100%;
}
.about_me_content {
  width: 60%;
}

.about_me p:first-child {
  font-size: 25px;
  padding-bottom: 2%;
}
.about_me p:nth-child(2) {
  padding-bottom: 2%;
  font-size: 18px;
}
.about_me p:nth-child(3) {
  padding-bottom: 2%;
  font-size: 18px;
}
.about_me p:nth-child(4) {
  padding-bottom: 1%;
  font-size: 18px;
}
.about_me button {
  padding: 15px;
  border: none;
  outline: none;
  margin-top: 1%;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid var(--nav-text-color);
  color: var(--nav-text-color);
}

/* Blog Page */

.index_blogPage {
  padding-bottom: 2rem;
  display: flex;
  width: 70vw;
  margin: auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 4rem;
}
.index_blogPage .blog_items {
  width: 600px;
}
.index_blogPage .blog_items img {
  width: 100%;
  border-radius: 10px;
}
.blog_items .content_blog p:first-child {
  font-weight: 600;
  font-size: 20px;
  margin-top: 2%;
  margin-bottom: 2%;
}
.rightpage_blog {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.rightpage_blog .blog_items {
  width: 350px;
}
.rightpage_blog .blog_items img {
  width: 100%;
  border-radius: 10px;
}

/* Form Section */
._form_section {
  padding-bottom: 5rem;
  padding-top: 4rem;
  width: 70vw;
  display: flex;
  margin: auto;
  flex-direction: column;
}
.mid_form_section {
  width: 100%;
}
.mid_form_section textarea {
  width: 100%;
  padding: 15px;
  outline: none;
  border: none;
  font-size: 15px;
  font-weight: 600;
  color: var(--text-color);
  border: 1px solid var(--nav-text-color);
  background: transparent;
  margin-bottom: 3%;
}
.mid_form_section_mid {
  width: 100%;
  display: flex;
  gap: 10px;
}
.mid_form_section_mid input {
  width: 50%;
  padding: 15px;
  outline: none;
  font-size: 15px;
  font-weight: 600;
  border: none;
  color: var(--text-color);
  border: 1px solid var(--nav-text-color);
  background: transparent;
  margin-bottom: 3%;
}
._form_section button {
  padding: 15px;
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid var(--nav-text-color);
  cursor: pointer;
}

@media (max-width: 500px) {
  ._form_section {
    width: 80vw;
  }
}
