/* styles/main.module.css */
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 50px 20px;
  display: flex;
  flex-wrap: wrap;
}

.mainContent {
  flex: 2.5;
}

.recommendedBlogs {
  flex: 1;
  margin-left: 20px;
}

.h1 {
  color: var(--nav-text-color);
  text-align: center;
  margin-bottom: 10px;
}

.img {
  width: 100%;
  margin: 20px auto;
  height: 350px;
  object-fit: cover;
}

.blogPost {
  background-color: var(--bg-color);
  border-radius: 8px;
  padding: 20px;
}

.blogBox {
  background-color: var(--bg-color);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.blogCard {
  background-color: var(--bg-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--box-shadow);
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.blogCard img {
  width: 100%;
  margin: auto;
  border-radius: 8px;
  height: 200px;
  object-fit: cover;
}

.cardContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.cardContent h3 {
  color: var(--text-color);
}

.author {
  font-style: normal;
}

.date {
  font-size: 12px;
  color: #777;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .recommendedBlogs {
    margin-left: 0;
  }
}
/* Blog.module.css */
.button {
  padding: 10px 6px;
  width: 100%;
  margin-top: 5px;
  border: none;
  outline: none;
  background-color: var(--text-color);
  color: var(--bg-color);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.button:active {
  transform: translateY(2px);
}

.commentSection {
  margin-top: 40px;
}

.commentSection h2 {
  color: var(--text-color);
  font-size: 24px;
  margin-bottom: 20px;
}

.formControl {
  margin-bottom: 20px;
}

.formControl label {
  display: block;
  font-size: 18px;
  color: var(--text-color);
  margin-bottom: 8px;
}

.formControl input,
.formControl textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--nav-text-color);
  background-color: transparent;
  border-radius: 5px;
  color: var(--text-color);
}

.formControl textarea {
  resize: vertical;
}

.submitButton {
  padding: 10px 20px;
  background-color:transparent;
  outline: 1px solid var(--nav-text-color);
  color: var(--text-color);
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.commentList {
  margin-top: 40px;
}

.commentList h2 {
  color: var(--text-color);
  font-size: 24px;
  margin-bottom: 20px;
}

.comment {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.comment:last-child{
  border-bottom: none;
}
.commentProfile {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.commentProfile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.profileName {
  font-size: 18px;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 5px;
}

.date {
  font-size: 14px;
  color: #666;
}

.commentText {
  color: var(--text-color);
  margin-top: 5px;
}